$theme-colors: (
  "primary": #3C4CE2,
  "danger": #ff4136,
  "light": #E8F0FF,
);
@import "bootstrap/scss/bootstrap";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
